<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>A Blogging App for personal interests and education</h1>
            <hr>
            <p>PP can help you to share your interest with your friends!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
